<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.Mobile.Client" version="2.0.0" targetFramework="monoandroid51" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="MonoAndroid51" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="MonoAndroid51" />
  <package id="Microsoft.Data.Edm" version="5.6.4" targetFramework="monoandroid44" />
  <package id="Microsoft.Data.OData" version="5.6.4" targetFramework="monoandroid44" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="MonoAndroid51" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="monoandroid51" />
  <package id="System.Spatial" version="5.6.4" targetFramework="monoandroid44" />
  <package id="WindowsAzure.Storage" version="6.1.1-preview" targetFramework="monoandroid51" />
</packages>